# Grouping & Aggregating Data

## 01. Import Libraries

In [73]:
# import necessary liraries
import pandas as pd
import numpy as np
import os

## 02. Import Dataframe

In [77]:
# create a string folderpath
folderpath = r'C:\Users\Bamidele\Desktop\Training_content\March 2025 - Data Analytics Cohort\Python\Istacart Basket Project'

In [93]:
# importing merged dataframe  using the folder os.path.join
ords_prods_merge = pd.read_pickle(os.path.join(folderpath, '02 Data', 'Prepared Data', 'ords_prods_merged.pkl'))

In [ ]:
# view the first five rows
ords_prods_merge.head()

In [ ]:
ords_prods_merge.shape

In [ ]:
# Create a subset of the data
df = ords_prods_merge[:1000000]

In [ ]:
# see the structure of the new dataframe 
df.shape

In [24]:
# See the first five rows of df
df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_period_of_day
0,1107.0,38259.0,prior,2.0,1.0,11.0,7.0,1.0,7.0,0.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,Mid-range product,Regularly busy,Most orders
1,5319.0,196224.0,prior,65.0,1.0,14.0,1.0,1.0,3.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,Mid-range product,Regularly busy,Most orders
2,7540.0,138499.0,prior,8.0,0.0,14.0,7.0,1.0,4.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,Mid-range product,Busiest day,Most orders
3,9228.0,79603.0,prior,2.0,2.0,10.0,30.0,1.0,2.0,0.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,Mid-range product,Regularly busy,Most orders
4,9273.0,50005.0,prior,1.0,1.0,15.0,7.0,1.0,30.0,0.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,Mid-range product,Regularly busy,Most orders

## 03. Group Data with Pandas

In [28]:
df.groupby('product_name')

## 04. Aggregating Data with agg()

In [31]:
# for single aggregation agg()

df.groupby('department_id').agg( {'order_number':['mean']})

              order_number
                      mean
department_id
1.0              15.562844
2.0              17.518895
3.0              16.110071
4.0              17.537934
5.0              14.894521
6.0              16.658449
7.0              17.074484
8.0              14.942021
9.0              15.447580
10.0             18.681852
11.0             15.333271
12.0             14.327957
13.0             16.587381
14.0             16.957587
15.0             16.153766
16.0             17.805828
17.0             15.602964
18.0             19.674252
19.0             16.924344
20.0             16.292631
21.0             25.535596

In [33]:
# alternative approach
df.groupby('department_id')['order_number'].mean()

department_id
1.0     15.562844
2.0     17.518895
3.0     16.110071
4.0     17.537934
5.0     14.894521
6.0     16.658449
7.0     17.074484
8.0     14.942021
9.0     15.447580
10.0    18.681852
11.0    15.333271
12.0    14.327957
13.0    16.587381
14.0    16.957587
15.0    16.153766
16.0    17.805828
17.0    15.602964
18.0    19.674252
19.0    16.924344
20.0    16.292631
21.0    25.535596
Name: order_number, dtype: float64

In [35]:
# for multiple aggregation agg() --- mean , minimum and maximum

df.groupby('department_id').agg( {'order_number':['mean', 'min', 'max']})

              order_number
                      mean  min   max
department_id
1.0              15.562844  1.0  99.0
2.0              17.518895  1.0  96.0
3.0              16.110071  1.0  99.0
4.0              17.537934  1.0  99.0
5.0              14.894521  1.0  99.0
6.0              16.658449  1.0  99.0
7.0              17.074484  1.0  99.0
8.0              14.942021  1.0  98.0
9.0              15.447580  1.0  99.0
10.0             18.681852  1.0  99.0
11.0             15.333271  1.0  99.0
12.0             14.327957  1.0  99.0
13.0             16.587381  1.0  99.0
14.0             16.957587  1.0  99.0
15.0             16.153766  1.0  99.0
16.0             17.805828  1.0  99.0
17.0             15.602964  1.0  99.0
18.0             19.674252  1.0  99.0
19.0             16.924344  1.0  99.0
20.0             16.292631  1.0  99.0
21.0             25.535596  1.0  98.0

In [37]:
df['order_number'].mean()

16.829167

In [39]:
df['order_number'].max()

99.0

In [41]:
df['order_number'].min()

1.0

## 05. Aggregating Data with transfer()

In [ ]:
# ords_prods_merge

Layalty flag
- if max orders the user has made is over 40, then the customer will be labelled a "Loyal Customer"
- if max orders the user has made is over 10 but less than or equal to 40, then the customer will be labelled a "Regular Customer"
- if max orders the user has made is less than 10, then the customer will be labelled a "New Customer"

1. split data into groups based off user_id
2. Apply the transform() on order_number column - max orders for each user
3. Create a new column, "max_order",

In [47]:
ords_prods_merge.head(2)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_period_of_day
0,1107.0,38259.0,prior,2.0,1.0,11.0,7.0,1.0,7.0,0.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,Mid-range product,Regularly busy,Most orders
1,5319.0,196224.0,prior,65.0,1.0,14.0,1.0,1.0,3.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,Mid-range product,Regularly busy,Most orders

In [51]:
ords_prods_merge['max_order'] =  ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [56]:
ords_prods_merge.head(100)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_period_of_day,max_order
0,1107.0,38259.0,prior,2.0,1.0,11.0,7.0,1.0,7.0,0.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,Mid-range product,Regularly busy,Most orders,5.0
1,5319.0,196224.0,prior,65.0,1.0,14.0,1.0,1.0,3.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,Mid-range product,Regularly busy,Most orders,100.0
2,7540.0,138499.0,prior,8.0,0.0,14.0,7.0,1.0,4.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,Mid-range product,Busiest day,Most orders,24.0
3,9228.0,79603.0,prior,2.0,2.0,10.0,30.0,1.0,2.0,0.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,Mid-range product,Regularly busy,Most orders,6.0
4,9273.0,50005.0,prior,1.0,1.0,15.0,7.0,1.0,30.0,0.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,Mid-range product,Regularly busy,Most orders,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,197804.0,84766.0,prior,22.0,1.0,14.0,5.0,1.0,2.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,Mid-range product,Regularly busy,Most orders,42.0
96,199870.0,55962.0,prior,18.0,0.0,18.0,12.0,1.0,1.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,Mid-range product,Busiest day,Average orders,23.0
97,200390.0,1540.0,prior,4.0,2.0,0.0,7.0,1.0,10.0,0.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,Mid-range product,Regularly busy,Fewest orders,29.0
98,204112.0,65051.0,prior,12.0,4.0,10.0,30.0,1.0,6.0,0.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,Mid-range product,Least Busy,Most orders,17.0
99,205631.0,166360.0,prior,7.0,3.0,8.0,12.0,1.0,16.0,0.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,Mid-range product,Regularly busy,Average orders,13.0

In [58]:
# changing jupyter output options
pd.options.display.max_rows = None

In [ ]:
ords_prods_merge.head(100)

## 06. Deriving Columns with Loc ()

Layalty flag
- if max orders the user has made is over 40, then the customer will be labelled a "Loyal Customer"
- if max orders the user has made is over 10 but less than or equal to 40, then the customer will be labelled a "Regular Customer"
- if max orders the user has made is less than or equal 10, then the customer will be labelled a "New Customer"

In [ ]:
ords_prods_merge.loc[ ords_prods_merge['max_order'] > 40 , 'loyalty_flag' ] = 'Loyal customer'

In [ ]:
ords_prods_merge.loc[ (ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10) , 'loyalty_flag' ] = 'Regular customer'

In [ ]:
ords_prods_merge.loc[ ords_prods_merge['max_order'] <= 10, 'loyalty_flag'   ] = 'New customer'

In [ ]:
# check frequency
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    16381472
Loyal customer      10679578
New customer         5580218
NaN                       11
Name: count, dtype: int64

In [81]:
# slice columns from a dataframe
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(50)

     user_id      loyalty_flag  order_number
0    38259.0      New customer           2.0
1   196224.0    Loyal customer          65.0
2   138499.0  Regular customer           8.0
3    79603.0      New customer           2.0
4    50005.0  Regular customer           1.0
5   108919.0    Loyal customer          46.0
6    63782.0      New customer           4.0
7   170451.0  Regular customer           5.0
8   106854.0    Loyal customer          28.0
9   181127.0  Regular customer          10.0
10  106519.0  Regular customer          18.0
11  145505.0    Loyal customer          64.0
12  139923.0  Regular customer          16.0
13  110984.0  Regular customer           2.0
14  180719.0    Loyal customer          84.0
15  142388.0  Regular customer           7.0
16  200356.0  Regular customer          11.0
17    4122.0    Loyal customer          11.0
18  162394.0      New customer           2.0
19  148255.0  Regular customer          18.0
20  205157.0  Regular customer          11.0
21  181127.0  Regular customer           3.0
22   92648.0  Regular customer           8.0
23   30345.0      New customer           6.0
24   50898.0  Regular customer          28.0
25   57996.0    Loyal customer          12.0
26   77956.0    Loyal customer          90.0
27   22561.0      New customer           4.0
28  199115.0  Regular customer          20.0
29   91160.0    Loyal customer          32.0
30   50150.0  Regular customer          17.0
31   38748.0  Regular customer          16.0
32   65777.0    Loyal customer          47.0
33  134728.0  Regular customer          18.0
34   11119.0  Regular customer          18.0
35   45784.0  Regular customer           4.0
36   21054.0      New customer           3.0
37  196224.0    Loyal customer          23.0
38  102960.0    Loyal customer          21.0
39  113429.0  Regular customer          17.0
40  111982.0    Loyal customer          76.0
41  144159.0  Regular customer           3.0
42   72224.0    Loyal customer          12.0
43   23234.0  Regular customer          10.0
44  131925.0  Regular customer           8.0
45   16057.0  Regular customer           2.0
46  124716.0      New customer           5.0
47   60380.0  Regular customer          26.0
48  197324.0  Regular customer          12.0
49  157800.0  Regular customer           9.0

In [91]:
# Prepared by bams